@media only screen and (min-width: 800px) {
    .home-body {
      padding: 50px 100px 50px 100px;
    }
  }

.jumbotron{
    background-image: url("images/laptop-header.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.fab{
    padding-top: 10px;
}

h2{
  font-size: 25px;
}