*{
  margin: 0px;
  padding:0px;
  font-family: monospace;

}
html {
  scroll-behavior: smooth;
}

.first-container{
  display:block;
  background-color: #f2f2f2;
  margin: 0px;
  padding:0px;
  margin-left: 0px;
  margin-right: 0px;
}

.second{
  min-width: 400px;
  position: relative;
  background-color: white;
  margin: 0px;
  padding:0px;
  margin-left: 20%;
  margin-right: 20%;
  box-shadow: 1px 10px 20px;
}

/* ************************** Vid ********************* */
#introVid{
  bottom:0;
  right:0;
  margin-top: 58px;
}
/* ******************** Nav ********************* */

.nav-c{
  min-width: 400px;
  position: fixed;
  background-color: white;
  z-index: 1;
  width: 60%;
}
.nav-c a{
  color: black;
  text-decoration: none;
  font-size: 20px;
}
.nav-but{
  float:left;

  border: none;
  cursor: pointer;
  padding: 14px 16px;
  margin-left: 20px;
}
.nav-but:hover{
  background-color: #f2f2f2;
  transition: 0.5s;
  text-decoration: none;
}

/* ************************* Body ******************************/

.body-cont{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* *************************************About **************************/

#about{
  margin-top: 50px;
  margin-left: 0px;
  margin-right:0px;

  grid-column-start: 1;
  grid-column-end: 3;
}
#about h1{
  text-align: center;
  font-size: 2vw;
}
#about h2{
  text-align: center;
    font-size: 1.5vw;
    margin-top: 3px;
}
#about h3{
  text-align: center;
    font-size: 1vw;
    margin-top: 10px;
}


.home-about-pic{
  margin-top: 30px;
  margin-left: 0px;
  margin-right:0px;
  padding-left: 5px;
  background-color: gray;
  background-image: url(Media/Pictures/about.jpg);
  background-size: cover;



  grid-column-start: 1;
  grid-column-end: 2;
}
.home-about-info{
  margin-top: 30px;
  margin-left: 20px;
  margin-right:0px;
  font-size: 1.2vw;
  text-align: left;
  padding-right: 10px;

  grid-column-start: 2;
  grid-column-end: 3;
}


/* ***********************************************SKILLS *********************** */

#skills0 h3{
    font-size: 1.2vw;
    margin-top: 0px;
}
#skills0 h1{
    font-size: 2vw;
    margin-top: 10px;
}
#skills0{
  text-align: center;
  margin-top: 15px;

  grid-column-start: 1;
  grid-column-end: 3;

}

#skills{
  margin-top: 20px;
  margin-left: 40%;
  margin-right: 0px;
  text-align:center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: black;
  font-size: 1.5vw;


  grid-column-start: 1;
  grid-column-end: 2;
}

#skills2{
  margin-top: 20px;
  margin-left: 0px;
  margin-right:40%;
  text-align:center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: black;
  font-size: 1.5vw;



  grid-column-start: 2;
  grid-column-end: 3;
}

/* ********************************* Projects ****************************** */

#projects h1{
    font-size: 2vw;
    margin-top: 10px;
    text-align: center;
}

#projects{
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;

  grid-column-start: 1;
  grid-column-end: 3;
}
#project-container{
  margin-top: 20px;
  margin-left: 0px;
  margin-right:0px;
  text-align: center;
}

/* **************************************************** contact ****************************/
#home-footer-email{

  margin-top: 30px;
  height:80px;
  background-color: white;
  text-align: center;
  line-height: 4px;

  grid-column-start: 1;
  grid-column-end: 3;
}

#home-footer-email li{
  text-decoration: none;
  display:inline;
}


@media(max-width: 900px){

  .nav-c{
    width: 80%;
  }

  #about h1{
    font-size: 3vw;
  }
  #about h2{
      font-size: 2.5vw;
  }
  #about h3{
      font-size: 3vw;
  }

  .second{
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 1px 5px 10px;
  }

  .home-about-pic{
    height: 500px;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .home-about-info{
    font-size: 2.5vw;
    padding: 10px;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  #skills0 h3{
      font-size: 2.5vw;
  }
  #skills0 h1{
      font-size: 3vw;
  }
  #skills{
    font-size: 2.5vw;
  }

  #skills2{
    font-size: 2.5vw;
  }

  #projects h1{
      font-size: 3vw;
  }

  #projects{
    margin-left: 0%;
    margin-right:0%;
  }
  #project-container{
    margin-left: 0px;
    margin-right:0px;

  }

}

@media(max-width: 800px){

  .second{
    margin-left: 0%;
    margin-right: 0%;
    box-shadow: 1px 5px 10px;
  }
  .nav-c a{
    font-size: 3vw;
  }
  .nav-c{
    width: 100%;
  }

  #project-container{
  font-size: 0vw;
  }
  #project-container h5{
  font-size: 4vw;
  }

}
